{% extends "base.html" %}

{% block sidebar %}
    <div class="iconbar iconbar-zerebral">
        <ul>
          <li id="home-nav"><a href="/teacher/dashboard" class="fui-home"></a></li>
          <li id="goal-nav"><a href="/teacher/goals" class="fui-check"></a></li>
          <li id="actionplan-nav"><a href="/teacher/actionplans" class="fui-list-thumbnailed"></a></li>
          <li id="settings-nav">
            <a href="/teacher/settings" class="fui-gear">
              <span class="iconbar-unread">1</span>
            </a>
          </li>
        </ul>
    </div>
{% endblock %}
