{% extends "base.html" %}

{% block content %}
teacher dashboard
<div class="iconbar iconbar-danger">
    <ul>
      <li><a href="#fakelink" class="fui-user"></a></li>
      <li><a href="#fakelink" class="fui-calendar"></a></li>
      <li class="active"><a href="#fakelink" class="fui-chat"></a></li>
      <li><a href="#fakelink" class="fui-mail"></a></li>
      <li>
        <a href="#fakelink" class="fui-gear">
          <span class="iconbar-unread">1</span>
        </a>
      </li>
    </ul>
</div>

{% endblock %}