{% extends "teachers/base.html" %}

{% block content %}

    <div class="row">
        {% include "teachers/courses/parial_courses_navigation.html" %}

        <div class="span8 student-overview" >
             <div class="row text-center student-overview-header">
                <div class="6">
                    <h3>Courses</h3>
                </div>
            </div>

            <br/><br/>

            <!-- start course row -->
            <div class="student-overview-assessment row">
                <div class="span3 bg-lightgrey rounded-bottom-5px student-overview-body">
                    <div class="right">
                        <h3 class="popover-title bg-blue">Spanish II</h3>
                        <div class="popover-content">
                            <h3 class="text-center">86</h3>
                            <table>
                                <tr>
                                    <td width="100">Attendence</td>
                                    <td>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">Effort</td>
                                    <td>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2"></span>
                                        <span class="fui-star-2"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">Citizenship</td>
                                    <td>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2"></span>
                                        <span class="fui-star-2"></span>
                                        <span class="fui-star-2"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">Participation</td>
                                    <td>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2"></span>
                                        <span class="fui-star-2"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <h6>Most Engaged</h6>
                    <div class="zerebral-engagement-badge badge-color-green">
                        <h4>24%</h4>
                    </div>
                    <h6>John McLean</h6>
                </div>
                <div class="span2 offset1">
                    <h6>Least Engaged</h6>
                    <div class="zerebral-engagement-badge badge-color-red">
                        <h4>24%</h4>
                    </div>
                    <h6>Dr. Evil Genius</h6>
                </div>
            </div>

            <!-- one row -->

            <div class="student-overview-assessment row">
                <div class="span3 bg-lightgrey rounded-bottom-5px student-overview-body">
                    <div class="right">
                        <h3 class="popover-title bg-blue">English</h3>
                        <div class="popover-content">
                            <h3 class="text-center">86</h3>
                            <table>
                                <tr>
                                    <td width="100">Attendence</td>
                                    <td>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">Effort</td>
                                    <td>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2"></span>
                                        <span class="fui-star-2"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">Citizenship</td>
                                    <td>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2"></span>
                                        <span class="fui-star-2"></span>
                                        <span class="fui-star-2"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">Participation</td>
                                    <td>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2 text-primary"></span>
                                        <span class="fui-star-2"></span>
                                        <span class="fui-star-2"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <h6>Most Engaged</h6>
                    <div class="zerebral-engagement-badge badge-color-green">
                        <h4>24%</h4>
                    </div>
                    <h6>John McLean</h6>
                </div>
                <div class="span2 offset1">
                    <h6>Least Engaged</h6>
                    <div class="zerebral-engagement-badge badge-color-red">
                        <h4>24%</h4>
                    </div>
                    <h6>Dr. Evil Genius</h6>
                </div>
            </div>
            <!-- end row -->


        </div>
    </div>


{% endblock %}