{% extends "base.html" %}

{% block content %}
    <div class="iconbar iconbar-zerebral">
        <ul>
          <li><a href="#fakelink" class="fui-user"></a></li>
          <li><a href="#fakelink" class="fui-calendar"></a></li>
          <li class="active"><a href="#fakelink" class="fui-chat"></a></li>
          <li><a href="#fakelink" class="fui-mail"></a></li>
          <li>
            <a href="#fakelink" class="fui-gear">
              <span class="iconbar-unread">1</span>
            </a>
          </li>
        </ul>
    </div>

    <div class="row">

        <div class="span2">
            <ul class="nav nav-list nav-list-vivid">
                <li class="nav-header">Progress Reports</li>
                <li>
                  <a href="#fakelink">
                    Week 1
                    <span class="nav-counter bg-green">&nbsp;</span>
                  </a>
                </li>
                <li>
                  <a href="#fakelink">
                    Week 2
                    <span class="nav-counter bg-yellow">&nbsp;</span>
                  </a>
                </li>
                <li class="active">
                  <a href="#fakelink">
                    Week 3
                    <span class="nav-counter bg-yellow">&nbsp;</span>
                  </a>
                </li>
                <li>
                  <a href="#fakelink">
                    Week 4
                    <span class="nav-counter bg-green">&nbsp;</span>
                  </a>
                </li>
                <li>
                  <a href="#fakelink">
                    Week 5
                    <span class="nav-counter bg-red">&nbsp;</span>
                  </a>
                </li>
                <li>
                  <a href="#fakelink">
                    Week 6
                    <span class="nav-counter bg-red">&nbsp;</span>
                  </a>
                </li>
                <li>
                  <a href="#fakelink">
                    Week 7
                    <span class="nav-counter bg-yellow">&nbsp;</span>
                  </a>
                </li>
                <li>
                  <a href="#fakelink">
                    Week 8
                    <span class="nav-counter bg-green">&nbsp;</span>
                  </a>
                </li>
                <li>
                  <a href="#fakelink">
                    Week 10
                    <span class="nav-counter bg-green">&nbsp;</span>
                  </a>
                </li>


            </ul>
        </div>

        <div class="span8 student-overview" >
                 <div class="row text-center student-overview-header">
                    <div class="span2">
                        <img class="zerebral-icon-small" src="{{ STATIC_URL}}images/icons/Girl_2x.png" alt="">
                        <!-- FOR A DUDE USE: <img class="zerebral-icon-small" src="{{ STATIC_URL}}images/icons/Dude_2x.png" alt="">-->
                        <h6>Sarah Brown</h6>
                    </div>
                    <div class="span4">
                        <h3>Week 3</h3>
                        <h5>Anytown Middle School</h5>
                    </div>
                    <div class="span1">
                        <div class="zerebral-engagement-badge">
                            <h4>85%</h4>
                        </div>
                        <h6>Engagement</h6>
                    </div>
                </div>

                <div class="student-overview-assessment row">
                    <div class="span2">
                        <div class="right">
                          <h3 class="popover-title">Science</h3>
                          <div class="popover-content">
                            <p>And here's some amazing content. It's very engaging. <br>Right?</p>
                          </div>
                        </div>
                    </div>

                    <div class="span1">

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}