{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="span12">
		<h3>login</h3><br />
        <a href="/accounts/register">REGISTER</a>
		<form action="?" method="POST">
		  <div class="control-group">
		    <label class="control-label" for="username">Username</label>
		    <div class="controls">
		      <input type="text" id="username" name="username">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="password">Password</label>
		    <div class="controls">
		      <input type="password" id="password" name="password">
		    </div>
		  </div><br />
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn">Sign in</button>
		    </div>
		  </div>
		  {% csrf_token %}
		</form>

		<h4>{{ error }}</h4>
	</div>
</div>
{% endblock %}