{% extends "base.html" %}

{% block sidebar %}
    <div class="iconbar iconbar-zerebral">
        <ul>
          <li class="active"><a href="/student/dashboard" class="fui-home"></a></li>
          <li><a href="/student/goals" class="fui-check"></a></li>
          <li><a href="/student/actionplans" class="fui-list-thumbnailed"></a></li>
          <li>
            <a href="/student/settings" class="fui-gear">
              <span class="iconbar-unread">1</span>
            </a>
          </li>
        </ul>
    </div>
{% endblock %}
