{% extends "teachers/base.html" %}

{% block script-extra %}
    <script>
        $(document).ready(function(){
            var cur=$("#teacher_nav_courses_add");
            cur.addClass('active');
            $("a > span", cur).removeClass('fui-radio-unchecked').addClass('fui-radio-checked');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        {% include "teachers/courses/partial_courses_navigation.html" %}
        <div class="span8">
            add course
        </div>
    </div>
{% endblock %}