{% extends "teachers/base.html" %}

{% block content %}
    <div class="row">
        {% include "teachers/courses/parial_courses_navigation.html" %}
        <div id='evaluations' class='span8'>
            <h5 class='text-center'>Spanish II Evaluations</h5>
            <select name='small' class='select mbl eval-dropdown'>
                <option value='0'>Week of 3/11/13</option>
                <option value='1'>Week of 3/04/13</option>
            </select>
        </div>
    </div>
{% endblock %}
{% block script-extra %}
    
{% endblock %}