{% extends "teachers/base.html" %}

{% block content %}
    <div class="row">
        {% include "teachers/courses/parial_courses_navigation.html" %}
        <div id='evaluations' class='span8'>
            <h5 class='text-center'>Spanish II Evaluations:</h5>
            <select name='small' class='select mbl eval-dropdown'>
                <option value='0'>Week of 3/11/13</option>
                <option value='1'>Week of 3/04/13</option>
            </select>
            <table class='table table-striped table-hover'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Grade</th>
                        <th>Attendance</th>
                        <th>Effort</th>
                        <th>Citizenship</th>
                        <th>Participation</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John<br>Smith</td>
                        <td>85%</td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>Add</td>
                    </tr>
                    <tr>
                        <td>John<br>Smith</td>
                        <td>85%</td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>Add</td>
                    </tr>
                    <tr>
                        <td>John<br>Smith</td>
                        <td>85%</td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>Add</td>
                    </tr>
                    <tr>
                        <td>John<br>Smith</td>
                        <td>85%</td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2 text-primary'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                            <span class='fui-star-2'></span>
                        </td>
                        <td>Add</td>
                    </tr>
                </tbody>
            </table>
            <div class='pull-right btn-row'>
                <a class='btn btn-mini btn-primary' href="#fakelink">Save & Finish Later</a>
                <a class='btn btn-mini btn-primary' href="#fakelink">Submit</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block script-extra %}
    <script type='text/javascript'>
        //override classes
        $(function() {
            $(".dropdown-toggle").addClass('btn-primary');
            $(".dropdown-toggle").removeClass('btn-warning');
        });
    </script>
{% endblock %}