<div class="span2">
    <ul class="nav nav-list nav-list-vivid">
        <li class="nav-header">Dashboard</li>
        <li>
          <a href="#fakelink">
              <span class="fui-radio-unchecked">&nbsp;</span>
            Courses
          </a>
        </li>
        <li>
          <a href="#fakelink">
              <span class="fui-radio-unchecked">&nbsp;</span>
            Add Course
          </a>
        </li>
        <li>
          <a href="#fakelink">
              <span class="fui-radio-unchecked">&nbsp;</span>
            Add Students
          </a>
        </li>
        <li>
          <a href="#fakelink">
              <span class="fui-radio-unchecked">&nbsp;</span>
            Action Plans
          </a>
        </li>
        <li>
          <a href="#fakelink">
              <span class="fui-radio-unchecked">&nbsp;</span>
            Spanish II
          </a>
        </li>
        <li class='active'>
          <a href="#fakelink" class='nav-sub-link'>
              <span class="fui-radio-checked">&nbsp;</span>
            Roster
          </a>
        </li>
        <li>
          <a href="#fakelink" class='nav-sub-link'>
              <span class="fui-radio-unchecked">&nbsp;</span>
            Evaluations
          </a>
        </li>
        <li>
          <a href="#fakelink" class='nav-sub-link'>
              <span class="fui-radio-unchecked">&nbsp;</span>
            Action Plans
          </a>
        </li>
        <li>
          <a href="#fakelink">
              <span class="fui-radio-unchecked">&nbsp;</span>
            English
          </a>
        </li>
    </ul>
</div>
