{% extends "teachers/base.html" %}

{% block content %}
    <div class="row">
        {% include "teachers/courses/parial_courses_navigation.html" %}
        <div class="span8">
             <div class="row text-center student-overview-header">
                 <h3>Spanish II</h3>
            </div>
            <br/><br/>


            <table style="width: 100%" class="text-center">
                <tr>
                    <td><h6>Attendence</h6></td>
                    <td><h6>Citizenship</h6></td>
                    <td><h6>Participation</h6></td>
                    <td><h6>Effort</h6></td>
                </tr>
                <tr>
                    <td><img class="zerebral-icon-small" src="{{ STATIC_URL}}images/icons/Girl_2x.png" alt=""></td>
                    <td><img class="zerebral-icon-small" src="{{ STATIC_URL}}images/icons/Dude_2x.png" alt=""></td>
                    <td><img class="zerebral-icon-small" src="{{ STATIC_URL}}images/icons/Girl_2x.png" alt=""></td>
                    <td><img class="zerebral-icon-small" src="{{ STATIC_URL}}images/icons/Dude_2x.png" alt=""></td>
                </tr>
                <tr>
                    <td>Sarah Conner</td>
                    <td>Billy Lindeman</td>
                    <td>Erica Stark</td>
                    <td>Rob Konsdorf</td>
                </tr>
            </table>

        </div>
    </div>

{% endblock %}