{% extends "teachers/base.html" %}

{% block content %}
    <div class="row">
        {% include "teachers/goals/partial_goals_navigation.html" %}
    <div id='add_goal'>
        <form name='add_goal_form' action='POST'>
            <label for='goal_name'>Name</label>
            <div class='control-group small'>
                <input name='goal_name' type='text' class='span5'/>
            </div>
            <label for='required_points'>Number of Points Needed</label>
            <div class='control-group small'>
                <input name='required_points' type='text' class='span5'/>
            </div>
            <label for='description'>Description of Reward</label>
            <textarea name='description' class='goal-desc' rows='2'></textarea>
            <a href='#fakelink' class='span2 btn btn-small add-goal-btn btn-info'>Preview</a>
            <a href='#fakelink' class='span2 btn btn-small add-goal-btn btn-info'>Submit</a
        </form>
    </div>
    </div>
{% endblock %}