<div class="span2">
    <ul class="nav nav-list nav-list-vivid">
        <li class="nav-header">Goals</li>
        <li><a href="/teacher/goals">
              <span class="fui-radio-unchecked">&nbsp;</span>
            Goals
          </a>
        </li>
        <li>
          <a href="/teacher/goals/add">
              <span class="fui-radio-unchecked">&nbsp;</span>
            Create Goal
          </a>
        </li>
        <li>
          <a href="/teacher/goals/approvals">
              <span class="fui-radio-unchecked">&nbsp;</span>
            Redemption
          </a>
        </li>
    </ul>
</div>