a.zerebral-logo {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url('/static/images/zerebral/logo-small.png');
}

/* zerebral flat-ui color overrides */
.text-primary {
  color: #F99E1F;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #D08729;
}

.btn.btn-success {
  background-color: #F99E1F;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #F99E1F;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #D08729;
}

.navbar .brand:focus {
  color: #D08729;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
  background: none;
  color: #F99E1F;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #F99E1F;
}

.navbar .nav ul li.active > a:focus {
  background-color: #F99E1F;
  color: #ffffff;
  padding-left: 9px;
  padding-right: 9px;
}

.navbar .nav ul a:hover {
  background-color: #D08729;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus {
  background: none;
  color: #D08729;
}

.navbar-inverse .nav > li.active > a:focus {
  background-color: #F99E1F;
  border-bottom-color: #D08729;
  border-left: none;
  color: #ffffff;
  padding-left: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-search .search-query:focus {
  border-color: #F99E1F;
}

.nav-sub-link {
  padding-left:30px !important;
}

/* zerebral icon bar */
.iconbar-zerebral {
  background-color: #F99E1F;
}
.iconbar-zerebral > ul > li.active > a {
  color: #D08729;
}
.iconbar-zerebral > ul > li > a:hover,
.iconbar-zerebral > ul > li > a:focus {
  color: #D08729;
}
.iconbar-zerebral .iconbar-unread {
  background-color: #D08729;
}

.bg-red {
    background-color: #ed4a13;
}
.bg-yellow {
    background-color: #f4d03f;
}
.bg-green {
    background-color: green;
}

.bg-white {
    background-color: white;
}

.bg-orange {
    background-color: #F99E1F;
}

.round-icon {
    float: left;
    border-radius: 8px;
}

.zerebral-icon-small {
    width: 100px;
    height: 100px;
}

.student-overview {
    margin-left: 50px;
}
.span8 > .row {
    margin-left: 0px;
}

.rounded-bottom-5px {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

.student-overview-assessment {
    margin-bottom: 40px;
}
.student-overview-header {
    padding-top:15px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 40px 40px 0px 0px;
    border-radius: 40px 40px 0px 0px;
    background-color: #eef0f0;
}

.student-overview-body {
    padding-bottom: 20px;
}

.badge-color-green {
    background-image: -o-linear-gradient(-90deg, #79CF19 0%, #246B16 100%);
    background-image: -moz-linear-gradient(-90deg, #79CF19 0%, #246B16 100%);
    background-image: -webkit-linear-gradient(-90deg, #79CF19 0%, #246B16 100%);
    background-image: -ms-linear-gradient(-90deg, #79CF19 0%, #246B16 100%);
    background-image: linear-gradient(-180deg, #79CF19 0%, #246B16 100%);
}

.badge-color-red {
    background-image: -o-linear-gradient(-90deg, #cf361b 0%, #692216 100%);
    background-image: -moz-linear-gradient(-90deg, #cf361b 0%, #692216 100%);
    background-image: -webkit-linear-gradient(-90deg, #cf361b 0%, #692216 100%);
    background-image: -ms-linear-gradient(-90deg, #cf361b 0%, #692216 100%);
    background-image: linear-gradient(-180deg, #cf361b 0%, #692216 100%);
}


.zerebral-engagement-badge {
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    color: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

.zerebral-engagement-badge > h4 {
    display:inline-block;
    font-size: 30px;
    padding-top:25px;
    text-align: center;
}


.student-overview-assessments {
    margin-top:15px;
    background-color: #eef0f0;
}

.bg-blue {
    background-color: #0e90d2;
}

.bg-lightgrey {
    background-color: #f9f9f9;
}

/* teacher specific rules */

.btn-row {
    margin-left: 18px;
}

.eval-dropdown {
    left: 36%;
}