a.zerebral-logo {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url('/static/images/zerebral/logo-small.png');
}


/* zerebral icon bar */
.iconbar-zerebral {
  background-color: #F99E1F;
}
.iconbar-zerebral > ul > li.active > a {
  color: #D08729;
}
.iconbar-zerebral > ul > li > a:hover,
.iconbar-zerebral > ul > li > a:focus {
  color: #D08729;
}
.iconbar-zerebral .iconbar-unread {
  background-color: #D08729;
}

.bg-red {
    background-color: #ed4a13;
}
.bg-yellow {
    background-color: #f4d03f;
}
.bg-green {
    background-color: green;
}

.zerebral-icon-small {
    width: 100px;
    height: 100px;
}

.teacher-dashboard {

}
.teacher-dashboard-header {
    margin-left: 0px;
    padding: 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 40px 40px 0px 0px;
    border-radius: 40px 40px 0px 0px;
    background-color: #eef0f0;
}